* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.dropDownItems {
  opacity: 0;
  position: absolute;
  margin-top: 30px;
}

.dropDownDiv {
  margin-top: 30px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.dropDownBtn {
  cursor: pointer;
  border-bottom: 2px black solid;
  transition: transform 0.4s;
}

.dropDownBtn:active {
  transform: translateY(-5px);
}

.dropDownItems p {
  padding: 10px 20px;
  color: white;
  background-color: black;
}

a {
  align-self: center;
}

.hamburger-menu {
  font-size: 3rem;
  background-color: black;
  cursor: pointer;
}

.container2 {
  position: relative;
  display: grid;
  row-gap: 4rem;
  text-align: center;
}

.overlay {
  position: absolute;
  z-index: 78;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.sideBar {
  display: grid;
  background-color: white;
}

.sideBar p {
  padding: 30px;
  font-size: larger;
  border-top: 2px black solid;
}

.description {
  justify-self: center;
  font-size: larger;
}

.container3 {
  margin-top: 100px;
  display: grid;
  position: relative;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

.imageslider {
  display: grid;
  position: relative;
}

.imgControl {
  position: absolute;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-style: none;
  top: 50%;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.imageslider img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

#navigationDiv {
  position: absolute;
  display: grid;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80%;
  padding: 10px;
  z-index: 99;
  grid-auto-flow: column;
}

#navigationDiv button {
  padding: 10px;
}